:root {
    --Light: white;
    --text: rgb(236, 110, 26);
    --backgroundcolor: rgb(107, 17, 107);
}
.container {
    grid-template-columns: ;
}
header {
    height: 300px;
    width: 100%;
    background-image: url("../images/Cowboy\ Zac.jpg");
    background-size: cover;
    justify-content: right;
    flex-direction: row;
}
header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
header h1 a {
    text-decoration: none;
    color: var(--text);
}
/* links to differnet parts of page */
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
  }

header nav ul li a {
    text-decoration: none;
    color: var(--text);
}
/* email link */
h4 a {
    text-decoration: none;
    color: var(--text)
}
/* color on section headers */
.About {
    display: grid;
    color: var(--text);
    border: solid;
    background-color: var(--backgroundcolor);
}
.About p {
    display: grid;
    color:var(--text);
}



.project-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.project-grid-container {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
}
.grid-container {
    grid-gap: <grid-row-gap> <grid-column-gap>;
}

.Workshop {
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.project-grid-item {
    background-color: var(--backgroundcolor);
    border: solid;
    padding: 1em;
    color: var(--text);
}
.Workshop h3 {
    background-color: var(--backgroundcolor);
    border: solid;
    color: var(--text);
    padding:
}

.Run-Buddy {
    width: 200px;
    height:50px;
    background-color: orange;
    border: solid;
    color: black;
}

}
.Contact {
    color: var(--text);
    background-color: var(--backgroundcolor);
}
.Contact h4 {
    color: var(--text);

}